{% extends "base.html" %}

{% block title %}Gadget Market{% endblock %}

{% block home_active %}active{% endblock %}

{% block home_current %}<span class="visually-hidden">(current)</span>{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 text-center bg-dark" style="color: white;">
    <div class="col-md-5 mx-auto">
        <h1 class="display-4 fw-normal">Welcome to the Gadget Market!</h1>
        <p class="lead fw-normal">Your one-stop shop for all your gadget needs.</p>
        <br><br>
        <a class="btn btn-primary" href="{{ url_for('market_page') }}">Get Started</a>
    </div>

    <div class="product-device shadow-sm d-none d-md-block"></div>

    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
{% endblock %}